<% layout('layouts/boilerplate') -%>

<section class="container about">
	<h1 id="about-title" class="mt-5">Welcome to the <span>Learn&Earn</span> Contest!</h1>
	<h3 class="mt-5">Where Learning Pays Off<span id="dash">_</span></h3>
	<div class="d-flex container flex-column flex-lg-row text-justify">
		<div class="mt-5">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut laboriosam, facilis odio libero maxime minima, eveniet, perferendis voluptatem cum quod odit. Dolores, illum explicabo voluptatibus dignissimos dolore non vitae deleniti, hic eveniet quidem doloribus eum debitis assumenda odio nobis voluptatum omnis neque quis nisi aut error ducimus at officiis rerum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe asperiores corporis ea blanditiis earum magni aut odit. Quidem nesciunt quam voluptatem eos ipsam omnis fugiat eius minima at beatae accusamus quia cupiditate modi culpa consectetur aspernatur veritatis odio, velit atque vero reprehenderit aperiam, nostrum? Cupiditate eaque, molestiae minima quibusdam! Distinctio amet voluptatem itaque ratione temporibus harum asperiores! Eius, ipsum quod!</p>
		</div>
		<figure class="mt-5">
			<img src="/images/burnout.jpg" alt="">
			<figcaption>"You started the WebDev Bootcamp again, huh?"</figcaption>
		</figure>
	</div>
</section>