<% layout('layouts/boilerplate') %>

<h1>This is the Week Show page</h1>

<h3><%= week.dateRange %></h3>
<ul>
	<% week.winners.forEach(winner => { %>
		<li><%= winner.place %> - <span style="font-weight: 900"><%= winner.name %></span></li>
	<% }); %>
</ul>
 
 <a href="/weeks">Go back!</a>