<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
	<% if (currentUser) { %>
	<li><a href="/admin/weeks">Weeks</a></li>
		<li><a href="/admin/weeks/new">New Week</a></li>
		<li><a href="/admin/logout">Logout</a></li>
	<% } else { %>
	<li><a href="/weeks">Weeks</a></li>
		<li><a href="/admin/login">Login</a></li>
	<% } %>
</ul>