<% layout('layouts/boilerplate') %>

<div class="form-container mx-md-5 mt-md-5">
	<h1>Last Week Winners!<span id="dash">_</span></h1>
	<form action="/admin/weeks" method="POST">
		<div>
			<p>1st Place goes to:</p>
			<input type="text" name="first" placeholder="Name">
		</div>
		<div>
			<p>2nd Place goes to:</p>
			<input type="text" name="second" placeholder="Name">
		</div>
		<div>
			<p>3rd Place goes to:</p>
			<input type="text" name="third" placeholder="Name">
		</div>
		<input id="week" type="hidden" name="weekDays" value="">
		<label for="adminAuth">Admin Auth</label>
		<input type="password" id="adminAuth" name="adminAuth" placeholder="admin auth">
		<input type="submit" value="Submit Week">
	</form>
</div>