<% layout('layouts/boilerplate') -%>

<section class="about">
	<div class="d-flex container flex-column flex-lg-row text-justify">
		<div class="mt-5">
			<h1 id="about-title" class="mt-5">Welcome to the <span>Learn & Earn</span> Contest!</h1>
			<h3 class="mt-5">Where Learning Pays Off<span id="dash">_</span></h3>
			<p>
				Looking for a way to up your skillset while also earning some cash?
			</p>
			<p>
				Students of The Web Developer Bootcamp are now invited to help answer questions in the Q&A as part of a weekly contest.</p>
			<p>
				The three students who answer the most solved questions after 1 week will win $15 (first), $10 (second), and $5 (third).
			</p>

			<h3>Contest Rules<span id="dash">_</span></h3>
			<ul>
				<li>You must submit a list of the questions you answered/solved to learntocodeinfoATgmailDOTcom in an email titled: "LEARN AND EARN ENTRY", the monday after each contest week in order to be included in the previous week's contest</li>
				<li>You must have a valid PayPal account where I can send your winnings</li>
				<li>You must be courteous when answering questions in the Q&A</li>
				<li>If a question is already answered by another student, but the OP replies saying they still need help, you're welcome to respond with a follow-up answer in an attempt to earn credit for the solution</li>
				<li>Answers will only be counted if they are timestamped after the start of the contest week (through 11:59pm Sunday CST/end of the week) and you send the question links to me in an appropriately titled email (see first bullet above)</li>
				<li>A minimum of 30 questions (in a week) must be answered to qualify for 1st place</li>
				<li>A minimum of 20 questions (in a week) must be answered to qualify for 2nd place</li>
				<li>A minimum of 10 questions (in a week) must be answered to qualify for 3rd place</li>
			</ul>
		</div>
	</div>
</section>