<% layout('layouts/boilerplate') -%>

<% include ./partials/paginate-weeks %>

<table border="2">
  <tr>
    <th><h2>Week</h2></th>
    <th><img width="50" src="/images/gold.png"></th>
    <th><img width="50" src="/images/silver.png"></th>
    <th><img width="50" src="/images/bronze.png"></th>
  </tr>
  <% weeks.docs.forEach(week => { %>
	  <tr>
	    <td><%= week.dateRange %></td>
	    <% week.winners.forEach(winner => { %>
	    <td><span><%= winner.name %></td>
  	<% }); %>  
	  </tr>
  <% }); %>  
</table>

<% include ./partials/paginate-weeks %>
