<% layout('layouts/boilerplate') %>
<h1>This is the register page!</h1>

<form action="/admin/register" method="POST">
	<div>
		<input type="text" name="username">
	</div>
	<div>
		<input type="password" name="password">
	</div>
	<div>
		<p>Are you the Admin?</p>
		<input type="checkbox" name="admin">
	</div>
	<input type="submit" value="Register">

</form>