<% layout('layouts/boilerplate') %>
<h1>This is the new week page!</h1>
<form action="/admin/weeks" method="POST">
	<div>
		<p>1st Place goes to:</p>
		<input type="text" name="first">
	</div>
	<div>
		<p>2nd Place goes to:</p>
		<input type="text" name="second">
	</div>
	<div>
		<p>3rd Place goes to:</p>
		<input type="text" name="third">
	</div>
	<input id="week" type="hidden" name="weekDays" value="">
	<input type="submit" value="New Week">
</form>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
<script>
	
	// Get week start and end date
	const defineWeek = function() {
		const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
		let today = new Date;
		let start = today.getDate() - today.getDay() + 1;
		let end = start + 6;
		let monday = new Date(today.setDate(start));
		let sunday = new Date(today.setDate(end));
		return `${monthNames[monday.getMonth()]} ${monday.getDate()} - ${monthNames[sunday.getMonth()]} ${sunday.getDate()}`
	};

	$('#week').attr('value', defineWeek());
	
</script>