
/*--------------------
				Generals
--------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
  letter-spacing: .1rem;
}

body, html {
  min-height: 90vh;
}

body {
  margin: 0;  
  background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%) no-repeat;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

a, a:hover  {
  text-decoration: none;
  color: white;
}

/*--------------------
        NavBar
--------------------*/

nav.navbar .navbar-brand {
  font-family: Gugi, 'Open Sans', sans-serif;
}

nav.navbar ul li {
  width: 15%;
  text-align: center;
}

.main-container {
  min-height: 80vh;
}

/*--------------------
        Footer
--------------------*/

footer {
  min-height: 10vh;
  background-color: #2a2a33;
  text-align: left;
  padding: 2rem;
}

/*--------------------
		Leaderboard
--------------------*/

.leaderboard-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.leaderboard {
  margin: 2.5rem;
  width: 285px;
  height: 308px;
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 1rem;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}

.leaderboard h1 {
  font-size: 18px;
  color: #e1e1e1;
  padding: 12px 13px 18px;
  margin: 0;
  text-align: center;
}

.leaderboard h2 {
  font-size: 15px;
  color: #e1e1e1;
  padding: 12px 13px 18px;
  margin: 0;
  text-align: center;
}

.leaderboard h1 svg {
  width: 25px;
  height: 26px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  vertical-align: baseline;
}

.leaderboard ol {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
}

.leaderboard ol li {
  position: relative;
  z-index: 1;
  font-size: 16px;
  counter-increment: leaderboard;
  padding: 35px 10px 18px 50px;
  cursor: pointer;
  backface-visibility: hidden;
}

.leaderboard ol li::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #c24448;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}


.leaderboard ol li p {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #fff;
}

.leaderboard ol li p i {
  float: right;
}

.leaderboard ol li:nth-child(1) {
  background: #fa6855;
}

.leaderboard ol li:nth-child(2) {
  background: #e0574f;
}

.leaderboard ol li:nth-child(3) {
  background: #d7514d;
}

.leaderboard ol li:hover {
  z-index: 3;
  overflow: visible;
  transform: scale(1.05);
}

/*--------------------
      Week Table
--------------------*/

table {
  position: relative;
  margin-bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
}

table tr:nth-child(1) {
  background: linear-gradient(to bottom, #3a404d, #2b2d37);
}

table tr td:nth-child(1) {
  background: #fa6855;
}

table tr th, table tr td {
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
  text-align: center;
  width: 13rem;
  padding: 12px 13px 18px;
}

table tr th h2 {
  font-size: 18px;
  color: #e1e1e1;
  margin: 0;
}

table tr td form{
  display: inline-block;
}

table tr td a i.fa-user-edit, table tr td form button i.fa-trash-alt {
  margin: 0 .5rem;
  font-size: 1.5rem;
}

table tr td form button {
  background: transparent;
  border: none;
  color: white;
}

.pagination {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: .5rem;
}

span.page-btn {
  letter-spacing: 0;
  margin: 0 1rem;
}

/*--------------------
      Edit form
--------------------*/

.form-container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.form-container div {
  margin: 1rem 0;
}

.form-container p {
  margin: 0;
}

/*--------------------
    About Section
--------------------*/

section.about h1 span {
  font-family: Gugi, 'Open Sans', sans-serif;
  letter-spacing: 0;
}

section.about p {
  width: 80%;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  width: 300px;
}

/*--------------------
    @ MEDIA QUERIES
--------------------*/

@media (max-width: 576px) {
  /*--Rules for md size--*/
  nav.navbar ul {
    padding-left: 0;
  }

  section.about p {
  width: 100%;
}

}

